*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
}
body {
  background-color: #ffffff;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 100px;
  color: black;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
nav .logo > svg {
  height: 35px;
}
.logo span {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #191825;
}
nav .navigations {
  display: flex;
  gap: 64px;
}
nav .navigations a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: rgba(25, 24, 37, 0.5);
}
nav .nav-btn button{
  padding: 14px 24px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
nav .nav-btn .log-btn {
  color: #222831;
  background-color: #fff;
  border: 1px solid #EEEEEE;
}
nav .nav-btn .sign-btn {
  color: #EEEEEE;
  background-color: #5D50C6;
}

main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 100vh;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 0 100px;
}
.hero > .left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 427px;
}
.gradient-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.4;
  filter: blur(250px);
  border-radius: 50%;
}
.hero > .left .gradient-circle {
  background: #FF5722;
  left: -396px;
  top: -273px;
}
.hero > .left .top-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  width: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  z-index: 1;
}
.hero > .left h1 {
  font-family: sans-serif;
  font-size: 60px;
  line-height: 1;
}
.hero > .left h1 span {
  color: #F85E9F;
}
.hero > .left p {
  width: 427px;
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
}
.hero > .left .down-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero > .left .down-btns div {
  padding: 16px 32px;
  border-radius: 100px;
  z-index: 1;
}
div.get-started {
  background: #5D50C6;
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #EEEEEE;
}
div.watch-demo {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #222831;
}


.hero  > .right {
  position: relative;
}
.hero > .right .world-vector > svg{
  position: absolute;
  width: 560px;
  height: 230px;
  left: -100px;
  top: -50px;
  z-index: -1;
}
.hero > .right .imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 32px;
}
.hero > .right img {
  width: 190px;
  height: 200px;
}

.hero > .right .imgs .left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero > .right .imgs .left { position: relative; }
.hero > .right .imgs .right img {
  height: 260px;
}

.round-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09);
  border-radius: 100px;
  z-index: 2;
}
.hero > .right .imgs .left .round-icon {
  top: 178px;
  left: -20px;
  background: #F85E9F;
}
.hero > .right .imgs .round-icon svg {
  color: #FFFFFF;
  z-index: 3;
}
.hero > .right .imgs .right .round-icon {
  top: 380px;
  right: 90px;
  background: #FF5722;
}
.icon-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #ffffff;
  box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
}
.hero > .right .imgs .right .icon-btn {
  top: 260px;
  right: -80px;
}

section.partner-logos {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 34px 110px;
}
section.partner-logos .partner {
  z-index: 3;
}
section.partner-logos .graphic-ele {
  position: absolute;
  left: 20px;
  top: -50px;
}
section.partner-logos .gradient-circle {
  top: -190px;
  right: -410px;
  background: #FACD49;
}

section.services {
  display: flex;
  align-items: center;
  width: 115vw;
  padding-left: 110px;
  gap: 10px;
}
section.services .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  width: 644px;
  height: 150px;
}
section.services .text h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
}
section.services .text p {
  color: #F85E9F;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: 0.2em;
}
section.services .cards {
  display: flex;
  gap: 16px;
  z-index: 10;
}
section.services .card div {
  display: flex;
  flex-direction: column;
  gap: 15px;
} 
.services .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 44px;
  width: 270px;
  padding: 64px 54px;
  border-radius: 32px;
  background: #FFFFFF;
}
.services .card p {
  color: rgba(25, 24, 37, 0.5);
}
.services .card.effect {
  box-shadow: 0px 41px 89px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

section.destination {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 34px 110px;
}
.destination > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destination .top .text span {
  color: #F85E9F;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}
.destination .top .text h2 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #191825;
}
.destination .top .btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.destination .top .btns div {
  padding: 16px;
  border-radius: 50%;
}
.destination .top .btns .left-arrow {
  background: #FFFFFF;
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.destination .top .btns .right-arrow {
  background: #5D50C6;
  filter: drop-shadow(0px 116px 46px rgba(0, 0, 0, 0.01)) drop-shadow(0px 65px 39px rgba(0, 0, 0, 0.04)) drop-shadow(0px 29px 29px rgba(0, 0, 0, 0.06)) drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
}

.destination .bottom {
  display: flex;
  justify-content: space-between;
}
.destination .bottom .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.destination .bottom img {
  height: 280px;
}
.destination .bottom .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  width: 280px;
  background: #FFFFFF;
  box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 32px 32px;
}
.destination .bottom .details .top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.destination .bottom .details .top .name-price span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #F85E9F;
}
.destination .bottom .details .top .name-price {
  display: flex;
  justify-content: space-between;
}
.destination .bottom .details .star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.destination .bottom .details .star span {
  font-weight: 700;
  color: #FF5722;
}
.destination .bottom .details .star svg {
  align-self: start;
}
.destination .graphic-ele {
  position: absolute;
  right: 15px;
  top: 90px;
}

section.travel-point {
  display: flex;
  align-items: center;
  gap: 128px;
  padding-right: 110px;
  height: 100vh;
}
section.travel-point .left {
  position: relative;
  height: fit-content;
}
section.travel-point .rectangle {
  height: 73vh;
  width: 50vw;
  background: #FACD49;
  border-radius: 0px 500px 500px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
section.travel-point .rectangle img{
  width: 50vw;
  height: 92vh;
}
section.travel-point  .icon-btn {
  background-color: #FFFFFF;
  top: 20px;
  left: 480px;
  width: 200px;
}

.travel-point .right {
  align-self: flex-start;
}
.travel-point .right .top span {
  color: #F85E9F;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 20px;
}
.travel-point .right .top h2 {
  font-weight: 700;
  font-size: 43px;
  color: #191825;
  margin: 12px 0 18px 0;
}
.travel-point .right .top p {
  font-family: 'Inter';
  font-weight: 400;
  color: rgba(25, 24, 37, 0.5);
}
.travel-point .right .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
}
.travel-point .right .grid-container .grid-item {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 32px;
}
.travel-point .grid-item h3 {
  color: #FF5722;
}
.travel-point .grid-item span {
  font-family: 'Inter', sans-serif;
  color: #191825;
}
.bubbles {
  position: absolute;
  filter: blur(2px);
  border-radius: 50%;
}
.bubbles.bbb1 {
  left: 43vw;
  top: -10vh;
  height: 70px;
  width: 70px;
  background: linear-gradient(280.84deg, #5D50C6 7.11%, #F85E9F 93.54%);
  filter: blur(6px);
}
.bbb2 {
  left: 5vw;
  top: -2vh;
  width: 30px;
  height: 30px;
  background: linear-gradient(280.84deg, #5D50C6 7.11%, #F85E9F 93.54%);
}
.bbb3 {
  right: -4vw;
  top: 11vh;
  width: 30px;
  height: 30px;
  background: #FACD49;
}
.bbb4 {
  left: 34vw;
  top: 20vh;
  width: 16px;
  height: 16px;
  background: #FF5722;
}
.bbb5 {
  bottom: 24vh;
  right: 8vw;
  width: 32px;
  height: 32px;
  background: #FF5722;
}

section.features {
  display: flex;
  gap: 50px;
  padding: 0 110px;
}
.features .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 40%;
}
.features .text .head {
  margin-bottom: 18px;
}
.features .text .head > span {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #F85E9F;
}
.features h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #191825;
  margin-top: 8px;
}
.features .text p {
  color: rgba(25, 24, 37, 0.5);
}
.features .box {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 24px;
  background: #FFFFFF;
  border-radius: 24px;
}
.features .boxes .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 24px;
}
.features .boxes .icon svg {
  height: 32px;
  width: 32px;
}
.features .boxes > div:nth-child(2) { border: 1px solid rgba(25, 24, 37, 0.1); }
.features .boxes div:nth-child(1) .icon { background-color: #FF5722; }
.features .boxes div:nth-child(2) .icon { background-color: #FACD49; }
.features .boxes div:nth-child(3) .icon { background-color: #F85E9F; }

.features .right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 50%;
}
.features .right img {
  height: 440px;
  z-index: 3;
}
.features .right > img:nth-child(2) {
  position: absolute;
  height: 340px;
  top: 155px;
  right: 15px;
}
.features .right svg {
  position: absolute;
  top: -70px;
  right: -70px;
  width: 280px;
  height: 280px;
}

section.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
}
.testimonials .arrow-icon {
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 50%;
}
.testimonials > div:nth-child(3) {
  background: #5D50C6;
}
.testimonials .center {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
}
.testimonials .center .text {
  text-align: center;
}
.testimonials .center span {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #F85E9F;
}
.testimonials .center h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #191825;
  margin-top: 8px;
}
.testimonials .profile img {
  height: 90px;
  width: 90px;
}
.testimonials .profile svg {
  position: absolute;
  top: -50vh;
  left: -60vw;
  width: 160vw;
  transform: rotate(-3.37deg);
  opacity: 0.1;
  z-index: -2;
}
.testimonials .profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.testimonials .profile-details h3 {
  font-weight: 700;
  font-size: 1.3rem;
  color: rgba(25, 24, 37, 0.75);
}
.testimonials .profile-details h3 span {
  color: #FF5722;
}
.testimonials .profile-details p {
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  color: rgba(25, 24, 37, 0.75);
  width: 56vw;
}
.testimonials .three-circle {
  display: flex;
  gap: 10px;
}
.testimonials .three-circle div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(25, 24, 37, 0.05);
}
.testimonials .three-circle div:nth-child(2) {
  background: #F85E9F;
}

section.newsletter {
  position: relative;
  padding: 0 110px;
}
section.newsletter > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 108px 54px;
  background-color: #fff;
  background: rgba(250, 205, 73, 0.08);
  border-radius: 32px;
}
section.newsletter > div .graphic-ele.gr {
  position: absolute;
  top: 45vh;
  right: -95vw;
  background-color: transparent;
}
section.newsletter > div .graphic-ele {
  position: absolute;
  left: -3.4vw;
  top: -10vh;
}
.newsletter .text span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #F85E9F;
  text-transform: uppercase;
}
.newsletter .text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #191825;
  margin-top: 15px;
}
.newsletter .form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.newsletter .form input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 24px;
  gap: 16px;
  border-radius: 24px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(25, 24, 37, 0.75);
}
.newsletter .form button {
  display: flex;
  align-items: center;
  padding: 32px 64px;
  gap: 16px;
  background: #5D50C6;
  border-radius: 24px;
  border: none;
  font-weight: 700;
  color: #FFFFFF;
}