@import url('./styles/nav.css');
@import url('./styles/hero.css');
@import url('./styles/partners.css');
@import url('./styles/services.css');
@import url('./styles/destination.css');
@import url('./styles/travel-point.css');
@import url('./styles/features.css');
@import url('./styles/testimonials.css');
@import url('./styles/newsletter.css');
@import url('./styles/footer.css');

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
}
:root {
  --pink: #F85E9F;
  --blue: #5D50C6;
  --orange: #FF5722;
  --para: rgba(25, 24, 37, 0.5);
}

body {
  background-color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  overflow: hidden;
  padding-top: 32px;
}