section.destination {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 34px 110px;
}
.destination > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destination .top .text span {
  color: var(--pink);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}
.destination .top .text h2 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #191825;
}
.destination .top .btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.destination .top .btns div {
  padding: 16px;
  border-radius: 50%;
}
.destination .top .btns .left-arrow {
  background: #FFFFFF;
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.destination .top .btns .right-arrow {
  background: var(--blue);
  filter: drop-shadow(0px 116px 46px rgba(0, 0, 0, 0.01)) drop-shadow(0px 65px 39px rgba(0, 0, 0, 0.04)) drop-shadow(0px 29px 29px rgba(0, 0, 0, 0.06)) drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
}

.destination .bottom {
  display: flex;
  justify-content: space-between;
}
.destination .bottom .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.destination .bottom img {
  height: 280px;
}
.destination .bottom .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  width: 280px;
  background: #FFFFFF;
  box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 32px 32px;
}
.destination .bottom .details .top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.destination .bottom .details .top .name-price span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--pink);
}
.destination .bottom .details .top .name-price {
  display: flex;
  justify-content: space-between;
}
.destination .bottom .details .star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.destination .bottom .details .star span {
  font-weight: 700;
  color: var(--orange);
}
.destination .bottom .details .star svg {
  align-self: start;
}
.destination .graphic-ele {
  position: absolute;
  right: 15px;
  top: 90px;
}