footer {
  display: flex;
  justify-content: space-between;
  padding: 0 110px 80px;
  margin-top: 10vh;
}
footer .left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}
footer .left > a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
footer .left > a h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
footer .left > p {
  font-weight: 450;
  color: rgba(25, 24, 37, 0.5);
}
footer .left div:nth-child(3) {
  display: flex;
  gap: 22px;
}

footer .right {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
footer .right div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .right div > a {
  text-decoration: none;
  color: rgba(25, 24, 37, 0.5);
}
footer .right div > a:hover {
  color: var(--blue);
}
footer .right div > svg {
  display: none;
}

@media (max-width: 1100px) {
  footer {
    padding: 0 90px 80px;
  }
  footer .right {
    gap: 60px;
  }
}
@media (max-width: 1024px) {
  footer {
    flex-direction: column;
    gap: 50px;
  }
  footer .left {
    width: 100%;
    gap: 30px;
  }
}
@media (max-width: 623px) {
  footer {
    padding: 0 60px 80px !important;
  }
  footer .right {
    gap: 20px;
  }
}
@media (max-width: 564px) {
  footer {
    padding: 0 40px 80px !important;
  }
}
@media (max-width: 469px) {
  footer {
    padding: 0 20px 80px !important;
  }
  footer .right {
    gap: 10px;
  } 
}
@media (max-width: 430px) {
  footer .right {
    flex-direction: column;
    gap: 30px;
  }
  footer .right > div {
    max-height: 25px;
    overflow: hidden;
  }
  footer .right > div.active {
    max-height: fit-content !important;
  }
  footer .right div > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .right div .head > svg {
    display: block !important;
  }
}
