nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 100px;
  color: black;
}
nav .menu {
  display: none;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
nav .logo > svg {
  height: 35px;
}
.logo span {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #191825;
}
nav .navigations {
  display: flex;
  gap: 64px;
}
nav .navigations a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: rgba(25, 24, 37, 0.5);
}
nav .nav-btn button{
  padding: 14px 24px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
nav .nav-btn .log-btn {
  color: #222831;
  background-color: #fff;
  border: 1px solid #EEEEEE;
}
nav .nav-btn .sign-btn {
  color: #EEEEEE;
  background-color: var(--blue);
}

@media (max-width: 1100px) {
  nav {
    padding: 20px 80px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  nav {
    padding: 15px 60px;
  }
  nav .navigations {
    display: none;
  }
  nav .menu {
    display: block;
  }
}
@media (max-width: 778px) {
  nav .menu svg {
    width: 50px;
  }
  nav .nav-btn button {
    padding: 10px 20px;
  }
}
@media (max-width: 660px) {
  .sign-btn {
    display: none;
  }
  .log-btn {
    background-color: var(--blue) !important;
    color: #EEEEEE !important;
  }
}
@media (max-width: 660px) {
  nav {
    padding: 15px 30px;
  }
}

/* Mobile  */
@media (max-width: 460px) {
  nav {
    flex-direction: row-reverse;
  }
  .nav-btn {
    display: none;
  }
}